.img-1 {
    position: absolute;
    bottom: 60px;
    left: 140px;
}

.all-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
}